<manifest
          package="com.idapgroup.rx.ktx">

    <application>

        <!--<activity android:name=".ExampleActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

    </application>


</manifest>